{% include base_path %}

{% if page.previous or page.next %}
  <nav class="pagination pagination--cards" aria-label="Post navigation">
    {% if page.previous %}
      <a href="{{ base_path }}{{ page.previous.url }}" class="pagination--pager pager--prev">
        <span class="pager__label">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</span>
        <span class="pager__title">{{ page.previous.title | markdownify | strip_html | strip_newlines }}</span>
      </a>
    {% endif %}
    {% if page.next %}
      <a href="{{ base_path }}{{ page.next.url }}" class="pagination--pager pager--next">
        <span class="pager__label">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</span>
        <span class="pager__title">{{ page.next.title | markdownify | strip_html | strip_newlines }}</span>
      </a>
    {% endif %}
  </nav>
{% endif %}
